In [12]:
import numpy as np
import pandas as pd
import seaborn as sns

sns.set(rc={'figure.figsize': [10, 10]}, font_scale=1.2)

In [13]:
df = pd.read_csv('t-shirts.csv')
df

,Date ordered,Order number,Brand,Size,Color,Design,Price,Delivery status
0,2016-05-05,SDH-YU0,Yolo,L,red,spiral,14.47,damaged
1,2016-05-06,SDH-YU1,Yolo,XXL,green,spiral,16.24,delayed
2,2016-05-07,SDH-YU2,BLOT,XL,black,Stripes,14.32,delivered
3,2016-05-08,SDH-YU3,Kent,XXL,green,plain,14.07,damaged
4,2016-05-09,SDH-YU4,BUCK,XL,white,spiral,15.56,order received
...,...,...,...,...,...,...,...,...
495,2017-09-12,SDH-YU495,Wang,XS,green,diamond,15.03,damaged
496,2017-09-13,SDH-YU496,BUCK,M,black,Stripes,14.49,shipping
497,2017-09-14,SDH-YU497,Kent,XXL,purple,plain,15.61,shipping
498,2017-09-15,SDH-YU498,Yolo,S,red,plain,13.49,order received
499,2017-09-16,SDH-YU499,BLOT,S,black,spiral,14.75,shipping

In [14]:
df['Size'].unique()

array(['L', 'XXL', 'XL', 'S', 'XS', 'M'], dtype=object)

In [15]:
sizes = {
    "XS": 1,
    "S": 2,
    "M": 3,
    "L": 4,
    "XL": 5,
    "XXL": 6
}

df['Size'] = df["Size"].map(sizes)
df

,Date ordered,Order number,Brand,Size,Color,Design,Price,Delivery status
0,2016-05-05,SDH-YU0,Yolo,4,red,spiral,14.47,damaged
1,2016-05-06,SDH-YU1,Yolo,6,green,spiral,16.24,delayed
2,2016-05-07,SDH-YU2,BLOT,5,black,Stripes,14.32,delivered
3,2016-05-08,SDH-YU3,Kent,6,green,plain,14.07,damaged
4,2016-05-09,SDH-YU4,BUCK,5,white,spiral,15.56,order received
...,...,...,...,...,...,...,...,...
495,2017-09-12,SDH-YU495,Wang,1,green,diamond,15.03,damaged
496,2017-09-13,SDH-YU496,BUCK,3,black,Stripes,14.49,shipping
497,2017-09-14,SDH-YU497,Kent,6,purple,plain,15.61,shipping
498,2017-09-15,SDH-YU498,Yolo,2,red,plain,13.49,order received
499,2017-09-16,SDH-YU499,BLOT,2,black,spiral,14.75,shipping

In [19]:
df['Delivery status'].unique()

array(['damaged', 'delayed', 'delivered', 'order received', 'shipping'],
      dtype=object)

In [10]:
df = pd.get_dummies(df, columns=['Brand', 'Color', 'Design', 'Delivery status'], drop_first=True)

In [11]:
df

,Date ordered,Order number,Size,Price,Brand_BUCK,Brand_Kent,Brand_Wang,Brand_Yolo,Color_green,Color_indigo,...,Color_red,Color_white,Design_checked,Design_diamond,Design_plain,Design_spiral,Delivery status_delayed,Delivery status_delivered,Delivery status_order received,Delivery status_shipping
0,2016-05-05,SDH-YU0,4,14.47,0,0,0,1,0,0,...,1,0,0,0,0,1,0,0,0,0
1,2016-05-06,SDH-YU1,6,16.24,0,0,0,1,1,0,...,0,0,0,0,0,1,1,0,0,0
2,2016-05-07,SDH-YU2,5,14.32,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,2016-05-08,SDH-YU3,6,14.07,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
4,2016-05-09,SDH-YU4,5,15.56,1,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,2017-09-12,SDH-YU495,1,15.03,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,0,0
496,2017-09-13,SDH-YU496,3,14.49,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
497,2017-09-14,SDH-YU497,6,15.61,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
498,2017-09-15,SDH-YU498,2,13.49,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,1,0
499,2017-09-16,SDH-YU499,2,14.75,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1